@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-ThinItalic-webfont.woff) format('woff');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Bold-webfont.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

html {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
}
:root {
    --columnPadding: 16px;
    --layoutWidth: 1000px;
}

.first h1 {
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
}

header li, 
.first p {
    font-size: 1.125rem;
}

header .logo {
    font-size: 1.5rem;
}

.second h2 {
    font-size: 2.25rem;
}

.third blockquote {
    font-size: 2rem;
    font-style: italic;
}

.third p {
    font-size: 1.4rem;
    font-weight: bold;
}

/* || Header and Navigation Styles */

header {
    align-items: center;
    background-color: hsl(215, 28%, 17%);
}

.header-container {
    display: flex;
    align-items: center;
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: 0 var(--columnPadding);
    justify-content: space-between;
}

.logo {
    color: hsl(0, 0%, 100%);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    padding: .625rem 1rem;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: hsl(0, 0%, 100%);
}

nav a:last-of-type {
    padding-inline-end: 0;
}

/* || Main Body Styles */

.first {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}

.second {
    background-color: hsl(0, 0%, 100%);
}

.third {
    background-color: hsl(220, 13%, 91%); 
}

.fourth {
    background-color: hsl(0, 0%, 100%);
}

footer {
    background-color: hsl(215, 28%, 17%);
    text-align: center;
    color: white;
    line-height: 5;
}

section {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-container {
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: var(--columnPadding);
    padding-right: var(--columnPadding);
    width: var(--layoutWidth);
    max-width: var(--layoutWidth);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.section-container > * {
    flex:1 280px;
}

/* || First Section */

.text-container {
    width: 50%;
}

.text-container > * {
    padding-bottom: 10px;
    padding-right: 10px;
}

.text-container-button {
    text-decoration: none;
    background-color: hsl(217, 91%, 59%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
}

main .first img {
    background-color: hsl(220, 13%, 50%);
    text-align: center;
    display: inline-block;
    padding: 100px 60px;
}

/* || Second Section */

.second-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.figure-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    text-align: center;
    padding-top: 45px;
    gap: 20px;
}

.figure-container img {
    border: 4px solid hsl(217, 91%, 59%);
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.figure-container figcaption {
    width: 150px;
}

/* || Third Section */
.quote-container {
    flex: .77;
    margin: 0 auto;
}

.quote-container p {
    text-align: end;
    margin-right: 10px;
}

/* || Fourth Section */
.call-to-action {
    background-color: hsl(217, 91%, 59%);
    color: hsl(0, 0%, 100%);
    padding: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.call-to-action-button {
    color: inherit;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 7px 20px;
}

.call-to-action-button:hover {
    background-color: hsl(217, 91%, 70%);
}
