* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --columnPadding: 16px;
    --layoutWidth: 1000px;
}

/* || Header and Navigation Styles */

header {
    align-items: center;
    background-color: hsl(215, 28%, 17%);
}

.header-container {
    display: flex;
    align-items: center;
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: 0 var(--columnPadding);
    justify-content: space-between;
}

.logo {
    color: hsl(0, 0%, 100%);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    padding: 10px 10px;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: hsl(0, 0%, 100%);
}

nav a:last-of-type {
    padding-inline-end: 0;
}

/* || Main Body Styles */